.main {
  background-image: url("https://wallpapers.com/images/file/4k-minimalist-black-forest-ma3c57wla5k493zj-ma3c57wla5k493zj.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 86vh;
}
