@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.mainFrame {
  max-height: 93vh;
  display: flex;
  padding: 0px 10px;
}

.page {
  width: 100%;
}

.heading {
  font-size: 50px;
  font-family: Source Sans Pro;
  padding: 5px 10px;
}
@media only screen and (max-width: 600px) {
  .heading {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
}
